$color-primary: #e4c1ae;
$color-secondary: #ffffff;
$color-background: #ffffff;

$color-text: #121212;
$color-dark: rgba(18, 18, 18, 0.5);

$margin-small: 32px;
$margin-medium: 96px;
$margin-big: 230px;
