@import "extras/variables";
@import "extras/typography";

@mixin textBig {
	font-size: 2.625rem;
	font-weight: 700;
}

@mixin textSmall {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
}

@mixin xMark {
	content: "";
	position: absolute;
	height: 2px;
	width: 18px;
	background-color: $color-text;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto $margin-small;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: $margin-medium / 2;

	background: $color-background;

	@media screen and (min-width: 1024px) {
		flex-direction: row;
		align-items: normal;
		gap: $margin-medium;
	}

	&__image-wrapper {
		margin-top: $margin-small;
		display: flex;

		@media screen and (min-width: 1024px) {
			margin-top: $margin-medium;
		}

		img {
			max-width: 505px;
			height: auto;
			width: 100%;
			object-fit: cover;

			@media screen and (min-width: 1024px) {
				width: 505px;
				height: 330px;
			}
		}
	}
}

.testimony {
	height: 100%;
	max-width: 380px;
	padding: 0 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: $font-main;
	color: $color-text;

	@media screen and (min-width: 1024px) {
		margin-top: 136px;
		padding: 0;
		align-items: flex-start;
	}

	&__title {
		text-align: center;

		@include textBig();
	}

	&__text {
		margin: 1.5rem 0 2rem;
		text-align: justify;

		@include textSmall;

		@media screen and (min-width: 1024px) {
			text-align: left;
		}
	}

	&__btn {
		width: max-content;

		padding: 16px 40px;

		border: none;
		border-radius: 32px;

		font-family: inherit;
		font-size: 1rem;
		font-weight: 700;

		color: $color-secondary;
		background-color: $color-primary;

		cursor: pointer;
	}
}

.open {
	opacity: 1 !important;
}

.overlay {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;

	opacity: 0;
	z-index: 1;
	background: $color-dark;

	overflow: hidden;
	transition: opacity 0.2s linear;
}

.popup {
	justify-content: space-between;
	flex-direction: column;

	display: none;
	position: absolute;
	width: max-content;
	height: max-content;

	top: 50%;
	left: 50%;

	opacity: 0;
	z-index: 2;

	font-family: $font-main;
	font-size: 12px;
	color: $color-text;
	background-color: $color-background;

	transition: opacity 0.2s linear;
	transform: translate(-50%, -50%);

	&__content {
		display: flex;
		flex-direction: column;

		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

			margin: 2rem;
		}
	}

	&__title {
		@include textBig;
		margin: 1rem 0;
	}

	&__text {
		@include textSmall;
	}

	&__btn {
		@extend .testimony__btn;
		display: none;
		height: max-content;

		&--close {
			background-color: $color-secondary;
			border: none;
			width: 1.5rem;
			height: 1.5rem;
			// margin-right: 2.5rem;
			@include textBig();
			cursor: pointer;

			&::before {
				@include xMark;
				transform: translateX(-9px) rotate(45deg);
			}

			&::after {
				@include xMark;
				transform: translateX(-9px) rotate(-45deg);
			}
		}
	}

	&__data {
		&-container {
			margin: 2rem;
			border-collapse: collapse;
		}

		&-cell {
			padding: 4px;
			border: 1px solid $color-text;
			list-style: none;
			word-wrap: break-word;
		}
	}
}
