@import "extras/variables";
@import "extras/typography";

@mixin textBig {
	font-size: 2.625rem;
	font-weight: 700;
}

@mixin textSmall {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.5rem;
}

@mixin xMark {
	content: "";
	position: absolute;
	height: 2px;
	width: 18px;
	background-color: $color-text;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.card {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: auto;
	padding-bottom: $margin-small;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: $margin-medium / 2;

	background: $color-background;

	@media screen and (min-width: 1025px) {
		flex-direction: row;
		align-items: normal;
		gap: $margin-medium;
	}

	&__image-wrapper {
		margin: $margin-small $margin-small / 2 0;
		display: flex;

		@media screen and (min-width: 1025px) {
			margin: $margin-medium 0 0;
		}

		img {
			max-width: 505px;
			height: auto;
			width: 100%;
			object-fit: cover;

			@media screen and (min-width: 1025px) {
				width: 505px;
				height: 330px;
			}
		}
	}
}

.testimony {
	height: 100%;
	max-width: 380px;
	padding: 0 $margin-small / 2;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: $font-main;
	color: $color-text;

	@media screen and (min-width: 1025px) {
		margin-top: 136px;
		padding: 0;
		align-items: flex-start;
	}

	&__title {
		text-align: center;

		@include textBig();
	}

	&__text {
		margin: 1.5rem 0 2rem;
		text-align: justify;

		@include textSmall;

		@media screen and (min-width: 1025px) {
			text-align: left;
		}
	}

	&__btn {
		width: max-content;

		padding: 16px 40px;

		border: none;
		border-radius: 32px;

		font-family: inherit;
		font-size: 1rem;
		font-weight: 700;

		color: $color-secondary;
		background-color: $color-primary;

		cursor: pointer;
	}
}

.open {
	opacity: 1 !important;
}

.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;

	opacity: 0;
	z-index: 1;
	background: $color-dark;

	overflow: hidden;
	transition: opacity 0.2s linear;
}

.popup {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	gap: $margin-small;

	display: none;
	position: absolute;
	width: auto;
	height: max-content;

	margin: $margin-small / 4;
	padding: $margin-small / 2;

	top: 10%;

	opacity: 0;
	z-index: 2;

	font-family: $font-main;
	font-size: 10px;
	color: $color-text;
	background-color: $color-background;

	transition: opacity 0.2s linear;

	@media screen and (min-width: 481px) {
		margin: $margin-small;
		padding: $margin-small;
		font-size: 12px;
	}

	@media screen and (min-width: 1025px) {
		flex-direction: row;
		top: 30%;
	}

	&__content {
		display: flex;
		flex-direction: column;

		&-container {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: normal;
			gap: $margin-small;

			// @media screen and (min-width: 1025px) {
			// 	align-items: center;
			// }
		}
	}

	&__title {
		@include textBig;
		margin: 1rem 0;
	}

	&__text {
		@include textSmall;
	}

	&__btn {
		@extend .testimony__btn;
		display: none;
		height: max-content;

		&--close {
			position: absolute;
			top: 20px;
			right: 0;

			background-color: $color-secondary;
			border: none;
			width: 1.5rem;
			height: 1.5rem;

			@include textBig();
			cursor: pointer;

			&::before {
				@include xMark;
				transform: translateX(-9px) rotate(45deg);
			}

			&::after {
				@include xMark;
				transform: translateX(-9px) rotate(-45deg);
			}
		}
	}

	&__data {
		&-container {
			border-collapse: collapse;
		}

		&-cell {
			padding: 2px;
			border: 1px solid $color-text;
			word-break: break-word;

			@media screen and (min-width: 481px) {
				padding: 4px;
			}

			&--adress {
				word-break: break-word;
			}
		}
	}

	&__loader {
		margin: $margin-small;
		border: 8px solid #f3f3f3; /* Light grey */
		border-top: 8px solid #3498db; /* Blue */
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
